!!!
%html{lang: "en"}
  %head
    %title
      Loving Hut

  %body
    #wrap
      = render 'layouts/header'

    .container

      = yield

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  
  = csrf_meta_tags
  



/ - if flash[:success]
/   .alert.alert-success
/     - flash[:success]  

